.title-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  height: calc(100vh - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-title {
  font-size: 3rem;
  font-weight: bold;
}

#color-box {
  width: 400px;
  height: 400px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

/* Click effect */
#color-box:active {
  transform: scale(0.98);
}

/* Hover effect for better UX */
#color-box:hover {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}

#color-code {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}
