:root {
  --primary-background-color: #000028;
  --secondary-background-color: #333353;
  --primary-text-color: #ffffff;
  --secondary-text-color: #848a9e;
  --primary-button-color: #00e6dc;
  --button-text-color: #000028;
  --siemens-color: #009999;
  --shadow-color: #ffffff;
  --mint-green: #00ffb9;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000028;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #ffffff;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 80px;
}

p {
  margin: 20px 0;
  font-size: 1.5rem;
}

ul {
  text-decoration: none;
  list-style: none;
}


.title-container {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
