body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  height: 100vh;
}

h1 {
  color: #333;
}

ul {
  text-decoration: none;
  list-style: none;
}


.nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  background: #009999;
  color: white;
  margin-bottom: 5px;
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.1s;
  width: 240px;
}

.nav-link:hover {
  background: #007070;
}
